@charset "UTF-8"

html{
  font-size: 100%;
}

*{
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

p{
  line-height: 2.4;
}

/*header*/

.header-main {
 position:relative;
}

.scroll a{
  bottom: 0;
  z-index: 2;
  font-size: 20px;
  font-family: 'Zapfino',cursive;
  display: block;
  text-decoration: none;
  padding-top: 60px;
  color: #ccc;
}


.scroll span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}

.scrl{
 position: absolute;
 top: 85%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 5px 30px;
 text-align: center;
 width: 300px;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.name{
  position: absolute;;
  top: 40%;
  font-family: 'Zapfino',cursive;
  font-size: 120%;
  color: #fff;
}

.sub-sentence{
  position:absolute;
  top: 55%;
  font-family: 'Zapfino',cursive;
  font-size: 100%;
  color: #fff;
}

.main-ttl{
  display: flex;
  align-items: center;
  justify-content: center
}

.main-nav{
  position: absolute;
  top: 2%;
  left: 0%;
  display: flex;
  font-family: 'Arial Unicode MS',cursive;
  font-size: 1rem;
  text-transform: uppercase;
  list-style: none;
}

nav{
  text-align: center;
  }
  nav ul{
  margin: 0 ;
  padding: 0 ;
  }
  nav li{
  list-style: none;
  display: inline-block;
  width: 10%;
  min-width: 50%;
  }
  nav li:not(:last-child){
  border-right:2px solid rgb(201, 200, 200);
  }
  nav a{
  text-decoration: none;
  color: #fff;
  }
  nav a:hover{
  color:#424242;
  }

  .backimg-main{
    position: relative;
    width: 100vw;
    height: 100vh;
    display:block;
}
  
/*main*/

main{
    text-align: center;
}

.section-title{
  padding-bottom: 20%;
}

/*About Me*/
.aboutme {
  border-bottom: solid 3px #ccc;
  position: relative;
}

.aboutme:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 4px #777;
  bottom: -3px;
  width: 20%;
}

.img-about{
  background-color: #000000;
}

.img-about img{
  opacity: 0.3;
  display:block;
}

.backimg-about{
  position: relative;
  width: 100vw;
  height: 105vh;
}


.about-cont{
  position: absolute;
	top: 153%;
	left: 50%;
	transform: translate(-50%, -50%);
   
	padding: 15px 30px;
	text-align: center;
	width: 300px;
  color: #fff;
}

.jp-ttl{
  width: 1em; border-bottom: solid 1px #fff;
}

/*Learn*/
.learn {
  border-bottom: solid 3px #ccc;
  position: relative;
}

.learn:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 4px #777;
  bottom: -3px;
  width: 20%;
}

.img-learn{
  background-color: #000000;
}

.img-learn img{
  opacity: 0.3;
  display:block;
}

.backimg-learn{
  position: relative;
  width: 100vw;
  height: 102vh;
}

.learn-cont{
  position: absolute;
	top: 253%;
	left: 50%;
	transform: translate(-50%, -50%);
   
	padding: 15px 30px;
	text-align: center;
	width: 300px;
  color: #fff;
}

/*Activity*/
#activity{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.activity {
  border-bottom: solid 3px #ccc;
  position: relative;
}

.activity:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 4px #777;
  bottom: -3px;
  width: 30%;
}

/*footer*/
#page-top {
  position: fixed;
  bottom: 4%;
  right: 4%;
}

#page-top a {
  display: block;
  z-index: 999;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  background-color: #ccc;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

#page-top a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.snsbtn{
  display: flex;
  list-style: none;
  justify-content: center;
}

.snsbtn li{
  padding:0 5px;
}

footer{
  margin-top: 10%;
}



